Repository saltstack/salt-analytics-framework: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-pylint-spelling-words, check-cli-examples, check-copyright-headers

Path conditions:
  sort-pylint-spelling-words: any of: ^\.pylint-spelling-words$
  check-cli-examples: any of: ^src/saf/modules/.*\.py$
  check-copyright-headers: any of: ^.*\.py$

Add Pylint CI job
  .github/workflows/test.yml
  .pylint-spelling-words
  .pylintrc
  noxfile.py
  requirements/dev.txt
  src/saf/collect/beacons.py
  src/saf/collect/logs.py
  src/saf/models.py
  src/saf/process/regex_mask.py
  src/saf/process/shannon_mask.py
  src/saf/saltext/engines/analytics.py
  src/saf/utils/eventbus.py
  tests/unit/process/test_shannon_mask.py
Due: sort-pylint-spelling-words, check-copyright-headers

Fix unbound variable
  src/saf/process/regex_mask.py
Due: check-copyright-headers

Update docs
  docs/ref/saf.collect.rst
  docs/ref/saf.process.rst
Due: none

Update CI jobs to use the codecov binary instead of the shell script
  .github/workflows/test.yml
Due: none

Only try to load the config file if it exists
  src/saf/saltext/engines/analytics.py
Due: check-copyright-headers

Update pre-commit hooks
  .pre-commit-config.yaml
  .pylint-spelling-words
  .pylintrc
  src/saf/__init__.py
  src/saf/models.py
  src/saf/pipeline.py
  src/saf/plugins.py
  src/saf/process/shannon_mask.py
  tests/functional/manager/conftest.py
  tests/functional/manager/test_disabled_pipeline.py
  tests/functional/manager/test_enabled_pipeline.py
  tests/integration/collectors/logs/conftest.py
  tests/integration/collectors/logs/test_logs.py
  tests/integration/collectors/logs/test_logs_with_parse.py
Due: sort-pylint-spelling-words, check-copyright-headers

Support starting/stopping a pipeline at runtime
  requirements/tests.txt
  src/saf/manager.py
  src/saf/models.py
  tests/functional/__init__.py
  tests/functional/manager/__init__.py
  tests/functional/manager/conftest.py
  tests/functional/manager/test_disabled_pipeline.py
  tests/functional/manager/test_enabled_pipeline.py
Due: check-copyright-headers

Install extras prior to installing salt.
  noxfile.py
Due: check-copyright-headers

Start testing Salt 3004.
  .github/workflows/test.yml
Due: none

Run asyncio fixtures in strict mode. Fix method name and await canceled task.
  noxfile.py
  pytest.ini
  tests/functional/manager/conftest.py
Due: check-copyright-headers

Fix compatibility with Python versions older than 3.7
  noxfile.py
  tests/functional/manager/conftest.py
Due: check-copyright-headers

Bump to ``coverage==6.2``
  noxfile.py
Due: check-copyright-headers

Processors are optional
  src/saf/models.py
Due: check-copyright-headers

Allow configuring the forwarders to run concurrently or not.
  src/saf/pipeline.py
  tests/functional/conftest.py
  tests/functional/forwarders/__init__.py
  tests/functional/forwarders/test_concurrency.py
  tests/functional/manager/conftest.py
Due: check-copyright-headers

Add a test forwarder plugin.
  docs/ref/saf.forward.rst
  setup.cfg
  src/saf/forward/test.py
Due: check-copyright-headers

Set the plugins/pipelines names as defined in the configuration file
  src/saf/models.py
Due: check-copyright-headers

create extension for RADIO demo and write RADIO.md v1
  demo/Dockerfile
  demo/data-remove-extension/.coveragerc
  demo/data-remove-extension/.github/workflows/test.yml
  demo/data-remove-extension/.gitignore
  demo/data-remove-extension/.pre-commit-config.yaml
  demo/data-remove-extension/.pre-commit-hooks/check-cli-examples.py
  demo/data-remove-extension/.pre-commit-hooks/make-autodocs.py
  demo/data-remove-extension/.pylintrc
  demo/data-remove-extension/LICENSE
  demo/data-remove-extension/README.md
  demo/data-remove-extension/docs/Makefile
  demo/data-remove-extension/docs/_static/.gitkeep
  demo/data-remove-extension/docs/all.rst
  demo/data-remove-extension/docs/conf.py
  demo/data-remove-extension/docs/index.rst
  demo/data-remove-extension/docs/make.bat
  demo/data-remove-extension/docs/ref/.gitkeep
  demo/data-remove-extension/docs/sitevars.rst
  demo/data-remove-extension/noxfile.py
  demo/data-remove-extension/pyproject.toml
  demo/data-remove-extension/setup.cfg
  demo/data-remove-extension/setup.py
  demo/data-remove-extension/src/saltext/data_remove/__init__.py
  demo/data-remove-extension/src/saltext/data_remove/processor.py
  demo/data-remove-extension/tests/__init__.py
  demo/data-remove-extension/tests/conftest.py
  demo/data-remove-extension/tests/integration/__init__.py
  demo/data-remove-extension/tests/integration/conftest.py
  demo/data-remove-extension/tests/unit/__init__.py
  demo/radio/RADIO.md
  demo/radio/beacons.conf
  demo/radio/logs-processed.conf
  demo/radio/logs.conf
Due: check-copyright-headers

touch up RADIO.md and add parsing to logs config
  demo/radio/RADIO.md
  demo/radio/logs-processed.conf
  demo/radio/logs.conf
Due: none

Run asyncio fixtures in strict mode. Fix method name and await canceled task.
  noxfile.py
  tests/functional/manager/conftest.py
Due: check-copyright-headers

Add `build` target to the noxfile
  .pylint-spelling-words
  noxfile.py
  requirements/build.txt
  setup.cfg
Due: sort-pylint-spelling-words, check-copyright-headers

Add `build` as a CI step
  .github/workflows/test.yml
Due: none

Force `Jinja2<3.1` as the latest release breaks Salt<3005
  noxfile.py
Due: check-copyright-headers

Always test the latest minor version of Salt
  .github/workflows/test.yml
Due: none
